[submodule "external/noether"]
	path = external/noether
	url = https://github.com/ros-industrial/noether.git
[submodule "PC/external/noether"]
	path = PC/external/noether
	url = https://github.com/ros-industrial/noether.git
